.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
usi/public/usi_portal/assets/
usi/public/usi_portal/index.html
usi/www/usi_portal/index.html
/usi/public/usi_portal/
usi/www/usi_portal/
